DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.ekqbucfoygimzgxupdhm
DB_PASSWORD=replace_me
DB_SSL_MODE=require
BACKEND_PORT=18080
FRONTEND_PORT=18081
VITE_API_BASE_URL=http://localhost:18080

JOOQ_DB_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
JOOQ_DB_USER=postgres.ekqbucfoygimzgxupdhm
JOOQ_DB_PASSWORD=replace_me
