# Runtime
APP_PORT=8080
APP_DB_ENV=docker

# Seleccion de entorno de base de datos
# APP_DB_ENV=docker   -> usa DB_DOCKER_*
# APP_DB_ENV=supabase -> usa DB_SUPABASE_*

# Database (Docker local)
DB_DOCKER_HOST=localhost
DB_DOCKER_PORT=5432
DB_DOCKER_NAME=panol
DB_DOCKER_USER=panol_user
DB_DOCKER_SSL_MODE=disable
# DB_DOCKER_PASSWORD=replace_me

# Database (Supabase remoto)
DB_SUPABASE_HOST=aws-1-us-east-1.pooler.supabase.com
DB_SUPABASE_PORT=5432
DB_SUPABASE_NAME=postgres
DB_SUPABASE_USER=postgres.ekqbucfoygimzgxupdhm
DB_SUPABASE_SSL_MODE=require
# DB_SUPABASE_PASSWORD=replace_me

# Security / Auth (Supabase JWT issuer)
JWT_ISSUER_URI=https://ekqbucfoygimzgxupdhm.supabase.co/auth/v1

# Supabase client values (for frontend or shared configs)
VITE_SUPABASE_URL=https://ekqbucfoygimzgxupdhm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zz8M0TK5BSRjk00UMl9h6g_qgWycc02

# jOOQ code generation (Postgres introspection)
JOOQ_DB_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
JOOQ_DB_USER=postgres.ekqbucfoygimzgxupdhm
# Set this value in your local env, do not commit it:
# JOOQ_DB_PASSWORD=replace_me
